<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<!-- NavBar -->
<header>
    <h4 class="logo"><a th:href="@{/}">Fin Pal</a></h4>
    <nav>
        <ul class="nav_links">
            <li><a th:href="@{/transactions}">Transactions</a></li>
            <li><a th:href="@{/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/groups}">Groups</a></li>
            <li><a th:href="@{/planning}">Planning</a></li>
        </ul>
    </nav>
    <a class="cta" sec:authorize="!isAuthenticated()" th:href="@{/login}">
        <button>Login</button>
    </a>
    <a class="cta" sec:authorize="isAuthenticated()" th:href="@{/logout}">
        <button>Logout</button>
    </a>
</header>

<h1 class="label">Login</h1>

<div th:if="${param.error}" class="error-message">
    Invalid email or password. Please try again.
</div>

<div class="contactContainer">
    <form th:action="@{/login}" method="post">
        <input type="email" name="username" placeholder="Your Email"/>
        <input type="password" name="password" placeholder="Your Passord"/>
        <button type="submit">Login</button>
    </form>
    <button class="formButton"><a class="cta" th:href="@{/register}">No account? Register</a></button>
</div>

</body>
</html>
